/* Clase asociada al body de la página */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-family-roboto;
}

/* Cabecera de las páginas donde está situado el menú de navegación */
.header {
  border-bottom: generate-border(7px, black);
}

/* Cuerpo de las páginas web y que se rellena de forma automática hasta ocupar toda la pantalla */
.main {
  flex: auto;
}

/* Pie de página */
.footer {
  background-color: $color-secondary;
  border-top: generate-border(7px, black);

  &__paragraph {
    max-width: 60%;
    margin: 25px auto;
    line-height: 1.5;
    text-align: justify;
  }
}

/* Portada de la página diseñada con para aquellos navegadores que no soporten css grid y para vistas en móviles */
.cover-page {
  padding: 3em;

  &__title {
    font-size: calc(2em + 4vw);
    color: $color-primary;
  }

  &__subtitle {
    font-size: calc(2em + 1vw);
    color: $color-secondary;
  }
  
  &__info {
    text-align: justify;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: generate-border(3px, black);
    border-radius: 20px;
  }

  &__link {
    margin: 5px;
    clear: left;
  }
}

/* Soporte de css grid para aquellos navegadores que lo permitan */
@supports (display:grid) {
  @media (min-width: $tablet-viewport) {
    .cover-page {
      display: grid;
      grid-template-rows: repeat(5, 20%);
      grid-template-columns: repeat(5, 20%);
  
      &__title {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
      }
  
      &__subtitle {
        grid-row: 1 / 5;
        grid-column: 5 / 5;
        writing-mode: vertical-rl;
      }
  
      &__img {
        grid-row: 2 / 5;
        grid-column: 2 / 5;
      }
  
      &__info {
        grid-row: 5;
        grid-column: 2 / 5;
      }

      &__button {
        grid-row: 3;
        grid-column: 1;
      }
    }
  }
}

/* Clase para definir los estilos de un miembro de la banda */
.member {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  &__photo {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 18px 14px 12px -10px rgba(0, 0, 0, 0.75);
  }

  &__name {
    margin: 0;
    font-weight: 100;
    color: $color-primary;
  }

  &__rol {
    color: $color-primary-600;
  }

  &__info {
    margin-top: 15px;
    text-align: justify;
  }
}

/* Clase utilitaria que nos permite aportar la propiedad flex y hacer responsiva la organización de la misma */
.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__item {
    width: 100%;

    @media (min-width: $tablet-viewport) {
      width: 50%;
    }
    
    @media (min-width: $laptop-large-viewport) {
      width: 33.3%;
    }
  }
}

/* Clase para definir los estilos de la noticia situada en la página de información */
.new {

  width: 80%;
  margin: 25px auto;

  @media screen and (min-width: $laptop-large-viewport) {
    width: 50%;
  }
  
  @media screen and (min-width: $tablet-viewport) {
    width: 70%;
  }

  &__text-inside-photo {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  &__photo {
    display: block;
    width: 100%;

    &--main {
      height: 400px;
    }

    &--secondary {
      height: 300px;
    }
  }

  &__separator {
    border: generate-border(1px, black);
  }

  &__paragraph {
    padding: 10px;
    text-align: justify;
    
    &--big-text {
      font-size: 24px;
    }

    @for $i from 1 through $num-total-col {
      &--w-#{$i} {
        @media screen and (min-width: $tablet-viewport) {
          width: column-width($i);
        }
      }
    }
  }

  &__title {
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
  }

  &__list-tours {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    padding: 0 0 0 26px;
    margin: 0 auto;
    counter-reset: number;
  }

  &__tour {
    position: relative;
    display: block;
    float: left;
    padding: 10px;

    &::before {
      position: absolute;
      left: -26px;
      float: left;
      width: 18px;
      height: 18px;
      font: bold 12px sans-serif;
      line-height: 18px;
      color: $color-primary;
      text-align: center;
      content: counter(number);
      counter-increment: number;
      border: generate-border(1px, $color-primary);
      border-radius: 50%;
    }
  }

  &__block-dual-paragraph {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-viewport) {
      flex-direction: row;
    }
  }
}
